@model Teespring.Models.campaign

@{
    ViewBag.Title = "Delete";
}

<style>
    .dl {
        font-family: 'Poppins';
        font-weight: bold;
    }

    .dt {
        text-transform: capitalize;
        color: #ee2761;
    }

    .btn {
        padding: 0.4375rem 1.75rem;
        color: whitesmoke;
        background-color: #0a0918;
        height: 45px;
        font-size: 1em;
        max-width: 10rem;
        width: 100%;
        border: 0;
    }
</style>

<h2 style="font-family: 'Poppins'">Are you sure you want to delete this?</h2>
<div>
    <hr />
    <dl class="dl-horizontal, dl">
        <dt class="dt">
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt class="dt">
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt class="dt">
            @Html.DisplayNameFor(model => model.link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.link)
        </dd>

        <dt class="dt">
            @Html.DisplayNameFor(model => model.created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created)
        </dd>

        <dt class="dt">
            @Html.DisplayNameFor(model => model.expiration_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expiration_date)
        </dd>

        <dt class="dt">
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
            <button class="btn">
                @Html.ActionLink("Back to List", "Index", new { @style = "color:#ffffff"})
            </button>
            
        </div>
    }
</div>
