@model IEnumerable<Teespring.Models.campaign>

@{
    ViewBag.Title = "Index";
}

<style>
    .table {
        font-family: 'Poppins';
        color: #0a0918;
    }

    .tr {
        color: #ee2761;
        text-transform: capitalize;
    }

    .trs{
        font-weight: bold;
    }
</style>

<h2 style="font-weight: bold">Your campaigns</h2>

<table class="table">
    <tr class="tr">
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.link)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.expiration_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="trs">
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.link)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.expiration_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.id_campaign }) |
            @Html.ActionLink("Edit", "Edit", new { id=item.id_campaign }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_campaign }) |
            @Html.ActionLink("Share", "Share", new { id=item.id_campaign })
        </td>
    </tr>
}

</table>
